/*=============================================================*/
/* общие */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #a7a2a2;
    color: #fff;
    padding: 10px;
    text-align: center;
}

input, select, button {
    margin: 0px;
    padding: 0px;
}

/*=============================================================*/
/* Область для отображения */
.container {
    max-width: 600px; /* Ограничение максимальной ширины */
    min-width: 350px;
    width: 100%; /* Занимает всю доступную ширину */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 0px 20px; /* Отступы по бокам */
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

.container section {
    max-width: 100%; /* Не превышать ширину контейнера */
    margin: 20px auto; /* Центрирование и отступы сверху/снизу */
    box-sizing: border-box; /* Важно для корректного расчета ширины */
}

section {
    padding: 20px;
    margin: 20px 10px;
    background: linear-gradient(135deg, #98a8f0, #ced4da);
    background-size: 300% 300%;
    animation: gradientFlow 16s cubic-bezier(0.77, 0, 0.175, 1) ease infinite;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: #fff; /* Чтобы текст хорошо читался */
}

.container .statistic-section {
    display: none;
    max-width: 100%; /* Не превышать ширину контейнера */
    margin: 20px auto; /* Центрирование и отступы сверху/снизу */
    box-sizing: border-box; /* Важно для корректного расчета ширины */
}

@keyframes gradientFlow {
    0%   { background-position:   0% 100%; }
    10%  { background-position:  20% 80%; }
    25%  { background-position:  50% 50%; }
    40%  { background-position:  80% 20%; }
    50%  { background-position: 100% 0%; }
    60%  { background-position:  80% 20%; }
    75%  { background-position:  50% 50%; }
    90%  { background-position:  20% 80%; }
    100% { background-position:   0% 100%; }
}

/*=============================================================*/
/* график */
#chart {
    background: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

#statistic-section {
    display: none;
}
/*=============================================================*/
/* Контейнер для кнопок в header*/
/* Обёртка для каждой кнопки */
.btn-wrap {
    position: relative;   /* нужно для абсолютного позиционирования меню */
}

/* Контейнер для кнопок */
.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin: 0 auto;
}

/* Кнопки одинаковые */
.button-grid button {
    flex: 0 0 200px;
    min-width: 200px;
    padding: 2px 2px;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #888;
}

/* Выпадающее меню */
.submenu {
    display: none;
    position: absolute;
    top: 100%;               /* прямо под кнопкой */
    left: 0;
    width: 200px;            /* совпадает с шириной кнопки */
    background: #f0f0f0;
    border-radius: 1px;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 50;
    color: black;
    
}

/* Элементы меню */
.submenu div {
    padding: 2px;
    margin: 1px;
    cursor: pointer;
    white-space: nowrap;
    background: linear-gradient(135deg, #93959e, #ced4da);
}

.submenu div:hover {
    background: #dcdcdc;
}

/* Показ меню при наведении */
/*.btn-wrap:hover .submenu {
    display: block;
}*/
.btn-wrap.show .submenu {
    display: block;
}

/*=============================================================*/
/* Управление светодиодом */
#control-led-section {
    display: flex;
    align-items: center;      /* выравнивание по вертикали */
    gap: 12px;                /* расстояние между SVG и кнопкой */
    padding: 10px 0;
    justify-content: flex-end;
}

#control-led-section button {
    padding: 8px 16px;
    margin: 0px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

#control-led-section button:hover {
    background-color: #1b7fcc;
}

#control-led-section button:active {
    background-color: #176fb0;
}

/*=============================================================*/
/* wifi окна */
.wifi-STA-modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.wifi-AP-modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.wifi-modal-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: #222;
    text-align: center; /* Всё внутри по центру */
}

.wifi-modal-title {
    margin-bottom: 15px;
}

/* Поля ввода по центру и одинаковой ширины */
.wifi-form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* центрируем поля */
}

.wifi-form-group input {
    width: 80%; /* или любая желаемая ширина */
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Кнопки под полями */
.wifi-button-group {
    display: flex;
    justify-content: center; /* центрируем кнопки */
    gap: 10px; /* расстояние между кнопками */
    margin-top: 10px;
}

.wifi-button-group button {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.wifi-button-scanNetworks button {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 70%;
    margin: 10px;
}

.wifi-button-scanNetworks button:hover {
    background-color: #4d4e4c;
}

.wifi-button-group button:hover {
    background-color: #4d4e4c;
}

#wifi-list li {
    padding: 6px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#wifi-list li:hover {
    background-color: #eee;
}
/*=============================================================*/